<nav class="navbar fixed-top navbar-dark" style="background-color: #b54747;">
  <span class="navbar-brand mb-0 h1">Editing Raw</span>
</nav>
<br>
<br>

<%= render 'form', raw: @raw %>

<%= link_to 'Show', @raw %> |
<%= link_to 'Back', raws_path %>
