<!-- <h1>New Raw</h1> -->
<nav class="navbar fixed-top navbar-dark" style="background-color: #b54747;">
  <span class="navbar-brand mb-0 h1">New Raw</span>
</nav>
<br>
<br>

<%= render 'form', raw: @raw %>

<%= link_to 'Back', raws_path, :class => "btn" %>
